.item{
    display: flex;
    flex-direction: column;

    padding-top: 1rem;

    width: 100%;

    margin-left: 10.2rem;
}

.mainContent{
    display: flex;
}

.content {
    display: flex;

    width: 80%;

    border-bottom: 1px dotted black;
}

.content:hover, .arrow:hover{
    cursor: pointer;
}

.titleItem{
    width: 30%;
}

.videoItem, .websiteItem{
    width: 35%;
}

.allItemInfo{
    display: none;

    width: 80%;
    padding-top: 0.3rem;
}