.item{
    display: flex;
    flex-direction: column;

    padding-top: 1rem;

    width: 100%;

    margin-left: 10.2rem;
}

.mainContent{
    display: flex;
}

.content {
    display: flex;

    width: 80%;

    border-bottom: 1px dotted black;
}

.content:hover, .arrow:hover{
    cursor: pointer;
}

.titleItem{
    width: 30%;
}

.videoItem, .websiteItem{
    width: 35%;
}

.allItemInfo{
    display: flex;

    width: 80%;
    padding-top: 0.3rem;
}

.allItemInfo a{
    color: black;
}

.trash{
    transition: 0.49s;
    height: 1.5rem;
    width: 1.5rem;
}

.trash:hover{
    cursor: pointer;
}

.trashRotate{
    transform: rotate(359deg);
}

.arrow{
    transition: 0.3s;
}

.turnForwards{
    transform: rotate(0deg);
}

.turnBackwards{
    transform: rotate(-90deg);
}
