.list{
    display: flex;
    flex-direction: column;

    border: 2px solid #CCCCCC;
    border-radius: 2rem;

    align-items: center;

    width: 25rem;
}

.title{
    font-size: 1.5rem;
    color: #656565;
    padding-left: 0.5rem;

    width: 88%;
    margin-top: 1.25rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px dashed #000000;
}

.content{
    display: flex;
    flex-direction: column;

    width: 88%;

    font-size: 1.25rem;

    padding-top: 1rem;
    padding-bottom: 2rem;
}

.listInfo{
    display: flex;
    justify-content: space-between;

    font-weight: bold;

    margin-left: 1rem;
    margin-right: 1rem;
}
