.list{
    display: flex;
    flex-direction: column;

    border: 2px solid #CCCCCC;
    border-radius: 2rem;

    align-items: center;

    width: 50rem;

    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.top {
    display: flex;
    gap: 2rem;

    padding-bottom: 0.1rem;
    width: 85%;

    border-bottom: 2px dashed black;
}

.info{
    display: flex;
    justify-content: space-between;

    width: 80%;
    padding-top: 0.3rem;
}

.titleInfo{
    width: 30%;
}

.videoInfo, .websiteInfo{
    width: 35%;
}

.OK{
    filter: invert(60%) sepia(2%) saturate(0%) hue-rotate(37deg) brightness(103%) contrast(83%);
}

.OK:hover{
    filter: invert(0%) sepia(0%) saturate(7480%) hue-rotate(107deg) brightness(98%) contrast(106%);
    cursor: pointer;
}